@page "/ferramentas/mdcmmc"
@using System.Numerics
@inject IPrincipal _principal

<MudText Typo="Typo.h4">@conta.ToUpper() com fatores primos</MudText>

<MudItem Style="display: flex; padding-top: 15px">
    <MudTooltip Text="Separados por ','">
        <MudTextField Style="margin-right: 10px" T="string" @bind-Value="@txt" Label="Números" Variant="Variant.Outlined"></MudTextField>
    </MudTooltip>
    <div style="width: 100px; margin-right: 10px">
        <MudSelect T="string" Label="Conta"  @bind-Value="@conta">
            <MudSelectItem T="string" Value="@("mdc")">MDC</MudSelectItem>
            <MudSelectItem T="string" Value="@("mmc")">MMC</MudSelectItem>
        </MudSelect>
    </div>
    <MudButton Color="Color.Dark" Variant="Variant.Filled" Size="Size.Medium" OnClick="@Calcular">Calcular</MudButton> 
</MudItem>
    <MudText Typo="Typo.h5" Style="margin-top:10px">Resultado: @result</MudText>


@code{

    string txt = "";
    string conta = "mdc";
    BigInteger result = new BigInteger(0);

    async void Calcular()
    {
        List<BigInteger> ns = txt.Split(',').Select(x => BigInteger.Parse(x)).ToList();
        if (conta == "mdc") result = _principal.MDC(ns).Result;
        else result = _principal.MMC(ns).Result;
    }
    
}
