@page "/ferramentas"

<MudText Typo="Typo.h4">Ferramentas</MudText>
<br/>
<MudGrid>
    <a class="espaco" href="/ferramentas/ehprimo">
        <MudTooltip Text="Determinar se é primo">
            <MudItem Class="carta">
                <MudIcon Class="icone" Icon="@Icons.Filled.CheckBox"></MudIcon>
            </MudItem>
        </MudTooltip>
    </a>

    <a class="espaco" href="/ferramentas/60s">
        <MudTooltip Text="Maior número primo em 60s">
            <MudItem Class="carta">
                <MudIcon Class="icone" Icon="@Icons.Filled.AccessAlarm"></MudIcon>
            </MudItem>
        </MudTooltip>
    </a>
    
    <a class="espaco" href="/ferramentas/fatoraremprimos">
        <MudTooltip Text="Fatorar número em primos">
            <MudItem Class="carta">
                <MudIcon Class="icone" Icon="@Icons.Filled.ViewSidebar"></MudIcon>
            </MudItem>
        </MudTooltip>
    </a>
    
    <a class="espaco" href="/ferramentas/mdcmmc">
        <MudTooltip Text="MDC e MMC utilizando fatores primos">
            <MudItem Class="carta">
                <MudIcon Class="icone" Icon="@Icons.Filled.AccountTree"></MudIcon>
            </MudItem>
        </MudTooltip>
    </a>
    
    <a class="espaco" href="/ferramentas/euclides">
        <MudTooltip Text="Combinação linear e inverso modular utilizando euclides estendido">
            <MudItem Class="carta">
                <MudIcon Class="icone" Icon="@Icons.Filled.Expand"></MudIcon>
            </MudItem>
        </MudTooltip>
    </a>
    
    

</MudGrid>